<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="Local NuGet" value="C:\Users\sulejmanka\source\repos\SLC-S-Service-Management-ProjectApi\SLC-S-Service-Management-ProjectApi\bin\nupkg" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
</configuration>
